PORT = 3000
DATABASE_URL="postgresql://postgres:123456@localhost:5432/kickbox_villegas?schema=public"
NODE_ENV=development
SEED_DEV=true
CORS_ORIGIN=http://localhost:3000,http://localhost:5173
JWT_SECRET="SECRETULTRASUPERHIPERMEGASEGURO"
JWT_EXPIRES_IN = '15m'
ADMIN_EMAIL=admin@gym.com
ADMIN_PASSWORD=MiClaveSegura123#
ADMIN_DNI=00000000X
ADMIN_NAME=Admin
ADMIN_SURNAME=Sistemas
RESET_DB=true